$font-family-sans-serif: 'Proxima Nova Alt Rg';

$primary: #293D70;
$body-color: #140202;
$btn-font-size: 14px;
$btn-padding-y: .75rem;
$btn-padding-x: 2rem;
$btn-border-radius: 8px;
$btn-font-weight: 800;